<div class="container">
    <div class="col-xs-8 text-center">presentacion de Datos
        <div ng-repeat="user in users track by user.id">
            <p>Nombre: {{user.name}}</p>
            <p>Telefono: {{user.phone}}</p>
            <p>A.K.A =>{{user.aka}}</p>
            <a class="btn btn-success" href="/users/{{user.id}}">Ver Perfil</a>
        </div>
    </div>
    <div class="col-xs-4">sidebar
        <button class="btn btn-success">Datos</button>
        <button class="btn btn-success">Gifs</button>
        <button class="btn btn-success">Comics</button>
    </div>
</div>
