<div class="container text-center">
    </br>
    </br>
    </br>
    </br>
    <a class="btn btn-success" href="/home.html">volver</a>
    </br>
    </br>
    </br>
    </br>
    <div class="row">
    <div class="col-xs-4">
        <img src="{{user.photo}}" alt="">
        <p>Nombre: {{user.name}}</p>
        <p>edad: {{user.age}}</p>
        <p>A.K.A =>{{user.aka}}</p>
        <p>{{user.name}} tiene {{user.gifs.length}} Gifs Favoritos.</p>
    </div>
    <div class="col-xs-4">
        <h3>GIFS FAVORITOS</h3>

    </div>

    <div class="col-xs-4">
        <h3>COMICS FAVORITOS</h3>

    </div>
    </div>
</div>